.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #fff;
  z-index: 1;
  transition: 0.4s ease-out;

  .accent {
    font-style: normal;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      a {
        margin: 0.4rem;
        padding: 1rem 0.5rem;
        border-radius: 5px;
        transition: 0.2s;
      }

      a:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: rgb(255, 255, 255);
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: rgb(255, 255, 255);
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    //display: none;
    position: absolute;
    top: -1000px;

    &:focus ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 50px;
    //Aplicar la función con los colores!
    background: #000000ab;
    color: #ffffff;
    backdrop-filter: blur(20px);

    i {
      color: $third-color;
      font-style: normal;
      font-weight: bold;
    }

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: #fff;
      }
    }
  }
}

.hero {
  height: 90vh;
  background: url(../media/bg/nav-bg3.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;

  h1 {
    position: relative;
    font-size: 3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
    }

    &::after {
      right: 0;
      border-top: 6px solid black;
    }
    &::before {
      left: 0;
      border-bottom: 6px solid black;
    }
  }
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  font-size: 16px;
  border: 2px solid white;
  color: #ffffff;
  filter: brightness(0.9);

  &:hover {
    filter: brightness(1);
    font-weight: 600;
    padding: 1rem 1.5rem;
  }
}

.insta-btn {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.cot-btn {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

.hide {
  display: none;
}

//Margin and padding classes
$space_amounts: (1, 2, 3, 4, 5);
@each $space in $space_amounts {
  /*--------Margin---------*/
  //all sides
  .m-#{$space} {
    margin: #{$space}rem;
  }
  //top and bottom
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  //left and right
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  //just top
  .mt-#{$space} {
    margin: #{$space}rem 0 0 0;
  }
  //just buttom
  .mb-#{$space} {
    margin: 0 0 #{$space}rem 0;
  }
  //just right
  .mr-#{$space} {
    margin: 0 #{$space}em 0 0;
  }
  //just left
  .ml-#{$space} {
    margin: 0 0 0 #{$space}em;
  }
  /*------------Padding-----------*/
  //all sides
  .p-#{$space} {
    padding: #{$space}rem;
  }
  //top and bottom
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  //left and right
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  //just top
  .pt-#{$space} {
    padding: #{$space}rem 0 0 0;
  }
  //just buttom
  .pb-#{$space} {
    padding: 0 0 #{$space}rem 0;
  }
  //just right
  .pr-#{$space} {
    padding: 0 #{$space}em 0 0;
  }
  //just left
  .pl-#{$space} {
    padding: 0 0 0 #{$space}em;
  }
}
