@import "config";
@import "utilities";
@import "responsive";
@import "animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font;
}

.container {
  width: 80%;
  margin: 2rem auto;
  p {
    margin: 1rem 0;
    text-align: justify;
  }
}
