
            .item1 {
                background-color: #ffdf0d;
                #gradient{
                    background: linear-gradient(340deg, #ff2b2b, #ffdf0d);
                }
            }

          
            .item2 {
                background-color: #ff2b2b;
                #gradient{
                    background: linear-gradient(0deg, #2E2E41, #ff2b2b);
                }
            }

          
            .item3 {
                background-color: #2E2E41;
                #gradient{
                    background: linear-gradient(0deg, #ffdf0d, #2E2E41);
                }
            }

          